body {
    background-image: url('stream-in-the-forest-blue-desktop-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table {
    width: 80%;
    margin: 40px auto;
    background: #e134eb;
}

table.list {
    text-align: center;
    width: 100%;
}

td {
    border: 1px solid #34eb9b;
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even),
table.list thead>tr {
    background-color: #347deb;
}

input[type="text"],
input[type="number"] {
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #eb6434;
    border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
    background: #34eb9e;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    background: #5534eb;
}

input[type="reset"]:hover {
    background: #e134eb;
}

button {
    background: #34eb9e;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #e134eb;
}
